<!-- <div class="d-flex bg-success">
    <div class="p-4">
        <h3 class="text-white">Gumawa ng account.<br>Punan ang mga Sumusunod</h3>
    </div>
    <div class="d-flex flex-column icons">
        <i class="fa fa-arrow-circle-left" ></i>
    </div>
</div> -->

<div class="d-flex  p-3 content ">
	<div class="d-flex flex-column text-white text">
		<h3>Gumawa ng account. <br><span>Punan ang mga sumusunod</span></h3>
	</div>
	<div class="d-flex  flex-column ">
        <i class="fa fa-arrow-circle-left"></i>	
	</div>
</div>

<div class="container-fluid">
	<form class="form-control formControl">
		<div class="d-flex align-items-center flex-column p-3">
			<div class="d-flex align-items-start flex-column ">
				<label for="pNumber" class="text-primary ">MOBILE NUMBER* </label>
                <input type="number" name="pNumber" id="pNumber" class="form-control-lg form-rounded ">
			</div>
            <div class="d-flex align-items-start flex-column p-3">
				<label for="pNumber" class="text-primary ">PASSWORD* </label>
                <input type="password" name="pNumber" id="pNumber" class="form-control-lg form-rounded ">
                <ul >
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp; At least 8 characters</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp; At least 1 Capital Letter and 1 Small Letter</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp; At least 1 Number</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp; At least 1 non-alphanumeric character</li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp;  At Password is Confirmed</li>
                </ul>
            </div>
            <div class="d-flex align-items-start flex-column m-0">
               
            </div>
		</div>
	</form>     
</div>