.content{
	background-color:green;
	justify-content: space-between;
}

.container{
	background-color:green;
}

.content svg{
	margin: 0 10px;
	width: 24px;
	height: 24px;
	color:white;
}
.form-group{
	margin-right:10px;
}
label{
	font-size: x-small;
}
.cons .spac{
	margin-right: 100px;
}