

<div class="d-flex  p-3 content ">
	<div class="d-flex flex-column text-white">
		<h3>Mag-file ng claim.</h3>
		<h3>Punan ang mga Sumusunod:</h3>
	</div>
	<div class="d-flex  flex-column ">

		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
			fill="currentColor" class="bi bi-arrow-left-circle m-2"
			viewBox="0 0 16 16">
  					<path fill-rule="evenodd"
				d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
				</svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
			fill="currentColor" class="bi bi-arrow-right-square m-2"
			viewBox="0 0 16 16">
  					<path fill-rule="evenodd"
				d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
				</svg>


	</div>
</div>

<div>
	<form class="form-control">
		<div class="d-flex align-items-center flex-column p-3">
			<div class="d-flex align-items-start flex-column">
				<p class="m-1 text-primary">CLAIMANT'S RELATIONSHIP TO THE
					INSURED*</p>
				<!-- 		<input type="tel" id="pNumber" class="form-control form-rounded" placeholder="ex. 09876543210"> -->
				<select class="form-control form-select" required>
					<option value="" disabled selected hidden>ex. I am the
						Insured(Ako ang Insured)</option>
					<option>I am the Insured (Ako ang Insured)</option>
					<option>Wife/Husband (Asawa)</option>
					<option>Child (Anak)</option>
					<option>Father (Tatay/Ama)</option>
					<option>Mother (Nanay/Ina)</option>
					<option>Brother/Sister (Kapatid)</option>
					<option>Aunt (Tita)</option>
					<option>Aunt (Tita)</option>
					<option>Grandparent (Lolo/Lola)</option>
					<option>Grandchild (Apo)</option>
				</select>
				<p class="m-1 text-primary">BENEFIT CLAIMED*</p>
				<select class="form-control form-select">
					<option disabled selected hidden>ex. Death</option>
					<option>Death</option>
					<option>Bodily Injury</option>
					<option>Property Damage</option>
					<option>Confinement</option>
					<option>Emergency Room</option>
					<option>Outpatient</option>
				</select>
				<p class="mt-3 text-success">DATE OF LOSS</p>

				<div class="d-flex form-group">

					<div class="d-flex flex-column form-group">
						<label class="text-primary dropdate">MONTH*</label> <select
							class="form-control form-select">
							<option disabled hidden selected>ex. January</option>
							<option value="01">January</option>
							<option value="02">February</option>
							<option value="03">March</option>
							<option value="04">April</option>
							<option value="05">May</option>
							<option value="06">June</option>
							<option value="07">July</option>
							<option value="08">August</option>
							<option value="09">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>

					</div>

					<div class="d-flex flex-column form-group">
						<label class="text-primary dropdate">DAY*</label> <select
							class="form-control form-select">
							<option hidden selected disabled>ex 20</option>
							<option value="01">1</option>
							<option value="02">2</option>
							<option value="03">3</option>
							<option value="04">4</option>
							<option value="05">5</option>
							<option value="06">6</option>
							<option value="07">7</option>
							<option value="08">8</option>
							<option value="09">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>

					</div>
					<div class="d-flex flex-column form-group">
						<label class="text-primary dropdate">YEAR*</label> 
						<select class="editabeBox" 
						
						
						>
							<option>ex 2020</option>
							<option>2021</option>
							<option>2020</option>
							<option>2019</option>
							<option>2018</option>
						</select>
							
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

